<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Productos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <ion-card *ngFor="let item of result | async">
    <img src="{{env.API_URL_IMAGE}}{{item.foto}}" />
    <ion-item lines="none">
      <ion-label color="primary">{{ item.nombre }}</ion-label>
      <!-- <ion-icon slot="end" name="more"></ion-icon> -->
    </ion-item>
    <ion-card-content class="card-content" color="light">
      <p><b>Presentacion: </b>{{ item.presentacion }}</p>
      <p><b>Precio: </b>{{ item.precio }}</p>
    </ion-card-content>
  </ion-card>

</ion-content>