<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>planes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="user != undefined">
    Bienvenido {{ user["name"]  }}
    <p>El id del usuario {{ user["id"]  }}</p>
    
  </div>

  <ion-card *ngFor="let item of result | async">
    <ion-card-content class="card-content">
      <p><b>Fecha Inicio: </b>{{ item.fecha_inicio }}</p>
      <p><b>Fecha Fin: </b>{{ item.fecha_fin }}</p>
      <p><b>Recordatorio: </b>{{ item.mensaje }}</p>
      <p><b>Estado: </b>{{ item.verificado }}</p>
    </ion-card-content>
  </ion-card>

</ion-content>